<div
  [formGroup]="carouselForm"
  id="carousel-container"
  fxFlex="100%"
  fxLayoutAlign="start center"
  style="position: relative;"
>
  <button
    mat-mini-fab
    color="primary"
    type="button"
    color="primary"
    (mouseenter)="mouseEnter('left')"
    (mouseleave)="mouseLeave('left')"
    (click)="removeSlide()"
    style="position: absolute; z-index: 2; left: 15px;"
  >
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button
    mat-mini-fab
    color="primary"
    type="button"
    color="primary"
    (mouseenter)="mouseEnter('right')"
    (mouseleave)="mouseLeave('right')"
    (click)="addSlide()"
    style="position: absolute; z-index: 2; right: 15px;"
  >
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <div
    style="width: 100%; overflow: hidden;"
    fxLayout="row"
    formArrayName="carousel"
  >
    <div
      *ngFor="let slide of carousel.controls"
      [@insertRemoveTrigger]="{ value: 0, params: { duration: duration } }"
      (mouseenter)="mouseEnterContainer()"
      (mouseleave)="mouseLeaveContainer()"
      fxFlex="100vw"
      style="height: 210px; background-color: red;"
    >
      <app-slide-horizontal
        [slideForm]="slide"
        (onClickSlide)="onSelectedAnuncio($event)"
      ></app-slide-horizontal>
    </div>
  </div>
</div>
