<div
  style="
    width: 100%;
    position: relative;
    overflow: hidden;
  "
  fxLayout="row wrap"
  fxLayoutAlign="center start"
  fxLayoutAlign.sm="start"
>
  <mat-icon
    style="right: 0; top: 0; position: absolute; cursor: pointer; z-index: 3;"
    (click)="closeDialog()"
    >close</mat-icon
  >
  <div
    class="view-container"
    fxFlex.gt-md="1000px"
    fxFlex.xs="100vw"
    fxFlex.gt-xs="100%"
    fxLayout="row wrap"
    *ngIf="anuncio"
  >
    <div
      fxFlex="100%"
      fxLayout="row wrap"
      fxLayoutAlign="start center"
      fxLayoutAlign="center start"
      fxLayoutGap="5px"
    >
      <img
        [src]="mainDomain + '/uploads/' + anuncio.logo"
        alt=""
        height="70px"
      />
      <quill-view-html
        fxFlex="1 1 auto"
        [content]="anuncio.nombreHTML"
        theme="snow"
      ></quill-view-html>
    </div>
    <app-anuncio-slider fxFlex="100%" [id]="id"></app-anuncio-slider>
    <quill-view-html
      fxFlex="1 1 auto"
      [content]="anuncio.contenidoHTML"
      theme="snow"
    ></quill-view-html>
  </div>

  <div class="bottom-container" fxLayoutAlign="center start" fxFlex.xs="100vw">
    <div
      fxFlex.gt-md="80vw"
      fxFlex.xs="100vw"
      fxFlex.sm="80vw"
      fxFlex.md="80vw"
      class="bottom-options"
      fxLayoutAlign="center"
    >
      <div
        class="bottom-center"
        fxFlex.gt-md="1000px"
        fxFlex.xs="100vw"
        fxFlex.gt-xs="90%"
        fxLayoutAlign="space-between center"
      >
        <mat-icon
          style="color: whitesmoke;"
          [matBadge]="visitas"
          matBadgeColor="warn"
          >visibility</mat-icon
        >

        <div fxLayoutAlign="center center" fxLayoutGap="10px">
          <a
            *ngFor="let redSocial of redesSociales"
            [href]="redSocial.url"
            target="_blank"
            ><img
              [src]="mainDomain + '/uploads/logos/' + redSocial.logo"
              alt=""
              height="45px"
          /></a>
        </div>
        <button mat-stroked-button color="accent" (click)="closeDialog()">
          <mat-icon>close</mat-icon> CERRAR
        </button>
      </div>
    </div>
  </div>
</div>
