<div
  style="width: 100%; position: relative;"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="40px"
>
  <mat-icon
    style="right: 0; top: 0; position: absolute; cursor: pointer;"
    (click)="closeDialog()"
    >close</mat-icon
  >
  <img src="assets/img/logo.png" alt="" height="80px">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="width: 50%;" fxLayout="column" fxLayoutGap="10px">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Usuario</mat-label>
      <input matInput formControlName="user" />
      <mat-icon matSuffix>person</mat-icon>
      <mat-hint>Ingrese su nombre de usuario</mat-hint>
      <mat-error *ngIf="loginForm.get('user').hasError('required')">Nombre de usuario vacio</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint>Ingrese su contraseña</mat-hint>
      <mat-error *ngIf="loginForm.get('password').hasError('required')">Contraseña vacia</mat-error>
    </mat-form-field>
    <h4 style="color: red;" *ngIf="error.exist" align="center">{{error.message}}</h4>
    <button mat-flat-button color="primary" type="submit">Iniciar Sesión</button>
  </form>

</div>
