<div style="position: relative">
  <div style="position: absolute; top: 0px; right: 0px">
    <mat-icon (click)="closeDialog()" style="cursor: pointer">close</mat-icon>
  </div>
</div>
<h2 class="mat-h2" style="text-align: center">Ajustes</h2>

<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title> Carrusel </mat-panel-title>
      <mat-panel-description>
        Elegir que mostrar
        <mat-icon style="color: #f29f05;">{{
          anunciosChecked && publicacionesFacebookChecked
            ? "check_box"
            : anunciosChecked || publicacionesFacebookChecked
            ? "indeterminate_check_box"
            : "check_box_outline_blank"
        }}</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div style="width: 100%" fxLayout="column">
      <mat-checkbox
        [(ngModel)]="anunciosChecked"
        (click)="checkMostrarAnunciosChanged()"
        >Mostrar Anuncios</mat-checkbox
      >
      <mat-checkbox
        [(ngModel)]="publicacionesFacebookChecked"
        (click)="checkMostrarFacebookPostsChanged()"
        >Mostrar Publicaciones de Facebook</mat-checkbox
      >
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title> Facebook </mat-panel-title>
      <mat-panel-description>
        Radio Manantial Token
        <mat-icon>update</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p style="font-weight: 500;font-size: 1.1rem;max-width: 850px;">
      <span style="font-weight: 600;font-size: 1.1rem;">NOTA:</span> El “TOKEN” es necesario para poder
      consultar las publicaciones de Facebook, el token tiene una fecha de
      caducidad cuando este expire es necesario generar un nuevo token desde
      Facebook.
    </p>
    <div style="width: 100%" fxLayout="row">
      <div
        fxFlex="100%"
        fxLayout="row"
        fxLayoutAlign="space-evenly start"
        fxLayoutGap="8px"
        fxLayout.xs="row wrap"
        fxLayoutAlign.xs="center start"
        fxLayoutGap.xs="0px"
      >
        <div
          fxFlex="400px"
          fxFlex.md="300px"
          fxFlex.sm="200px"
          fxFlex.xs="200px"
          style="min-height: 20px; max-height: 600px"
        >
          <p style="margin: 0px; font-weight: 600">TOKEN ACTUAL:</p>

          <p
            class="mat-body"
            style="
              margin: 0px;
              text-align: center;
              word-wrap: break-word;
              white-space: pre-wrap;
              word-break: normal;
            "
          >
            {{ token }}
          </p>
          <p style="margin-top: 16px;font-weight: 600;font-size: 0.9rem;"><span>Caduca el </span>{{ fechaVencimiento | formatoFecha }}</p>
        </div>
        <div
          fxFlex="400px"
          fxFlex.md="300px"
          fxFlex.sm="200px"
          fxFlex.xs="200px"
          fxLayout="row wrap"
        >
          <p style="margin: 0px; font-weight: 600">ACTUALIZAR TOKEN:</p>

          <mat-form-field appearance="outline" fxFlex="100%">
            <mat-label>Nuevo Token</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="20"
            ></textarea>
            <mat-hint>Ingresar nuevo token</mat-hint>
          </mat-form-field>
          <div fxFlex="100%">
            <mat-form-field appearance="outline" fxFlex="100%">
              <mat-label>Caducidad del acceso a datos</mat-label>
              <input matInput />
              <mat-hint>Ejemplo: 1618400557</mat-hint>
            </mat-form-field>
          </div>
          <div fxFlex="100%">
            <button mat-button type="button" color="accent">ACTUALIZAR TOKEN</button>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
