
<p>{{postUrl}}</p>
<!--  <div #container>
  <div fbParse [lazyLoad]="200" [container]="container">
    <div
    class="fb-post"
    data-href="https://www.facebook.com/RadioManantialMexico/posts/2674968129186302"
    data-width="500"
    data-show-text="true"
  >
  </div>
  </div>
</div> -->

<!--  <div #container>
  <div fbParse [lazyLoad]="200" [container]="container">
    <div class="fb-like"
      data-href="http://greg.md"
      data-layout="standard"
      data-action="like"
      data-size="small"
      data-showFaces="true"
      data-share="true"></div>
  </div>
</div> -->
