/* mat-grid-tile {
  background: lightblue;
} */

button {
  /* display: none; */
  opacity: 0.2;
}

#carousel-container:hover {
  button {
    /* display: block; */
    opacity: 0.9;
  }
}
#button-down {
  position: absolute;
  z-index: 2;
  bottom: calc(64px + 15px);
}
@media screen and (max-width: 959px) and (min-width: 600px) {
  #button-down {
    bottom: calc(125px + 15px);
  }
}
