<div [formGroup]="carouselForm" style="width: 100%;">
  <div
    id="carousel-container"
    fxFlex="100%"
    fxLayout="row wrap"
    fxLayoutAlign="center"
  >
    <button
      mat-mini-fab
      color="primary"
      type="button"
      color="primary"
      (mouseenter)="mouseEnter('up')"
      (mouseleave)="mouseLeave('up')"
      (click)="removeBottomSlide()"
      style="position: absolute; z-index: 2; top: 15px;"
    >
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <button
      id="button-down"
      mat-mini-fab
      color="primary"
      type="button"
      color="primary"
      (mouseenter)="mouseEnter('down')"
      (mouseleave)="mouseLeave('down')"
      (click)="addSlide()"
    >
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <div style="width: 100%;" formArrayName="carousel">
      <div
        *ngFor="let slide of carousel.controls"
        [@insertRemoveTrigger]="{
          value: 0,
          params: { duration: duration, height: height }
        }"
        (mouseenter)="mouseEnterContainer()"
        (mouseleave)="mouseLeaveContainer()"
      >
        <app-slide
          [slideForm]="slide"
          (onClickSlide)="onSelectedAnuncio($event)"
        ></app-slide>
      </div>
    </div>
  </div>
</div>
