<div
  style="width: 100%; position: relative; overflow: hidden;"
  fxLayout="row wrap"
  fxLayoutAlign="center start"
>
  <mat-icon
    style="right: 0; top: 0; position: absolute; cursor: pointer;"
    (click)="closeDialog()"
    >close</mat-icon
  >
  <h2>Editar Módulo</h2>
  <div fxFlex="100%" fxLayoutAlign="center start" style="margin-top: 10px;">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Nombre</mat-label>
      <input matInput [formControl]="nombreControl" />
      <mat-hint>Ingrese nombre del módulo</mat-hint>
    </mat-form-field>
  </div>
  <div fxFlex="100%" fxLayoutAlign="center start">
    <div fxFlex="100%">
      <quill-editor
        style="height: 600px; overflow: auto;"
        fxFlex="100%"
        placeholder="Contenido del modulo..."
        theme="snow"
        (onContentChanged)="getDataModulo($event)"
        (onEditorCreated)="getQuillModulo($event)"
      ></quill-editor>
    </div>
  </div>

  <div
    fxFlex="100%"
    fxLayoutAlign="center start"
    style="margin-bottom: 20px; margin-top: 20px;"
  >
    <button
      *ngIf="!isLoading"
      mat-flat-button
      color="primary"
      style="padding: 10px;"
      (click)="saveModulo()"
    >
      Modificar Módulo
    </button>
    <div
      *ngIf="isLoading"
      style="width: 100%;"
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
    >
      <mat-progress-spinner
        color="primary"
        diameter="40"
        mode="indeterminate"
      ></mat-progress-spinner>
      <span>Subiendo...</span>
    </div>
  </div>
  <a download="moduloHTML.txt" id="moduloHTML" style="display: none;"
    >Download</a
  >
  <a download="moduloJSON.txt" id="moduloJSON" style="display: none;"
    >Download</a
  >
</div>
