
<div fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-icon
    style="font-size: 40px; cursor: pointer;"
    inline="true"
    [matMenuTriggerFor]="menuModulo"
    >menu</mat-icon
  >
  <button mat-fab color="primary" (click)="playRadio()">
    <mat-icon>{{ paused ? "play_arrow" : "pause" }}</mat-icon>
  </button>
  <!-- <button mat-icon-button color="warn" (click)="reloadRadio()">
    <mat-icon [style.color]="live ? 'red' : 'grey'">lens</mat-icon>
  </button> -->

  <div
    style="height: 100%;"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="-15px"
  >
    <button
      mat-icon-button
      [color]="audioOff ? '' : 'primary'"
      (click)="onAudioOff()"
    >
      <mat-icon *ngIf="!audioOff">{{ volumeIcon }}</mat-icon>
      <mat-icon *ngIf="audioOff">volume_off</mat-icon>
    </button>
    <mat-slider
      color="primary"
      value="100"
      thumbLabel
      (input)="onSliderChange($event)"
      [disabled]="audioOff"
    ></mat-slider>
  </div>
</div>

<mat-menu #menuModulo="matMenu">
  <a
    mat-menu-item
    routerLink="/"
  >
  <mat-icon>home</mat-icon>
    <span>INICIO</span>
  </a>
  <button
    *ngFor="let modulo of modulos"
    mat-menu-item
    (click)="navigationModule(modulo.id, modulo.htmlNombre)"
  >
  <mat-icon>chevron_right</mat-icon>
    <span style="text-transform: uppercase;">{{modulo.nombre}}</span>
  </button>
</mat-menu>
