<div
  style="height: 100%; width: 200px; background-color: transparent;"
  fxLayout="row"
>
  <img src="../assets/img/programa.jpg" alt="" height="100%" />

  <div style="height: 100%;" fxLayout="column" fxLayoutAlign="center">
    <span>
      De 06:00 a 11:00
    </span>
    <span>
      ¡Ya Párate!, Facundo
    </span>
  </div>
</div>
<div fxLayoutAlign="center center" fxLayoutGap="5px">
  <button mat-fab color="primary" (click)="playRadio()">
    <mat-icon>{{paused ? 'play_arrow' : 'pause'}}</mat-icon>
  </button>
  <!-- <button mat-icon-button color="warn" (click)="reloadRadio()">
    <mat-icon [style.color]="live ? 'red' : 'grey'">lens</mat-icon>
  </button> -->

  <div style="height: 100%;" fxLayout="row" fxLayoutAlign="center center">
    <button mat-icon-button [color]="audioOff ? '' : 'primary'" (click)="onAudioOff()">
      <mat-icon *ngIf="!audioOff">{{volumeIcon}}</mat-icon>
      <mat-icon *ngIf="audioOff">volume_off</mat-icon>
    </button>
    <mat-slider color="primary" value="100" thumbLabel (input)="onSliderChange($event)" [disabled]="audioOff"></mat-slider>
  </div>
</div>
