<div style="width: 100%;" fxLayout="column" fxLayoutAlign="start start">
  <!-- <div style="width: 100%;position: relative;">
    <img src="http://www.radiomanantial995.com/admin/fondos/Untitled-2.jpg" alt="" width="100%" style="position: absolute;z-index: -1;">
  </div>
 -->
 <div style="width: 100%;" fxLayoutAlign="start start">
  <img src="assets/img/logo.png" alt="" height="150px" style="margin: 20px 0px 0px 20px;z-index: 1;">

 </div>

 <img src="assets/img/programa.jpg" alt="" width="100%" style="clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);">


</div>
