#logo {
  height: 80px;
  margin: 40px 0px -20px 20px;
  z-index: 1;
}
@media screen and (max-width: 1279px) and (min-width: 960px) {
  #logo {
    height: 75px;
    margin: 20px 0px -10px 20px;
    z-index: 1;
  }
}
@media screen and (max-width: 959px) and (min-width: 600px) {
  #logo {
    height: 65px;
    margin: 10px 0px -5px 20px;
    z-index: 1;
  }
}
@media screen and (max-width: 599px) {
  #logo {
    height: 50px;
    margin: 10px 0px -5px 20px;
    z-index: 1;
  }
}
