<div style="width: 100%;" fxLayout="column" fxLayoutAlign="start start">
  <!-- <div style="width: 100%;position: relative;">
    <img [src]="imagenPrincipal" alt="" width="100%" style="position: absolute;z-index: -1;">
  </div> -->

 <div style="width: 100%;" fxLayoutAlign="start start">
  <img src="assets/img/logo.png" alt="" height="80px" style="margin: 40px 0px -20px 20px;z-index: 1;">

 </div>

 <img [src]="imagenPrincipal" alt="" width="100%" style="clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);">


</div>
<!-- style="clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);" -->
